body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
img{
    width: 100%;
    position: absolute;
    transition: transform 0.3s;
    opacity: 50%;
}
#woman{
  transform: translateY(-150px);
}